@media all and (max-width: 1024px) {
	body {
		padding:5%;
	}
	.center-block {
		position:static;
		height:auto;
		margin:0;
		padding:40px;
		background:#fff;
	}
	.float-row {
		float:none !important; 
		width:100% !important; 
	}
	.main,
	.contact > .float-row:nth-child(2)	{
		margin-top:20px;
	}
	.center-block > .float-row:nth-child(1) {
		margin:0;
	}
}

@media all and (max-width: 414px) {
	.intro {
		font-size:20px;
		line-height:24px;
		margin-top:20px;
	}
	.center-block {
		padding:20px;
	}
}