@font-face {
    font-family: 'meta_serif_prolight';
    src: url('metaserifpro-light-webfont.eot');
    src: url('metaserifpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('metaserifpro-light-webfont.woff2') format('woff2'),
         url('metaserifpro-light-webfont.woff') format('woff'),
         url('metaserifpro-light-webfont.ttf') format('truetype'),
         url('metaserifpro-light-webfont.svg#meta_serif_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'meta_serif_probook';
    src: url('metaserifpro-book-webfont.eot');
    src: url('metaserifpro-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('metaserifpro-book-webfont.woff2') format('woff2'),
         url('metaserifpro-book-webfont.woff') format('woff'),
         url('metaserifpro-book-webfont.ttf') format('truetype'),
         url('metaserifpro-book-webfont.svg#meta_serif_probook') format('svg');
    font-weight: normal;
    font-style: normal;

}